<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcK5CkyOlEfv10JV8ygfTbcl1XJPb8u3I</string>
	<key>CLIENT_ID</key>
	<string>566496883281-5pjmqee825k3od2gofugoomp1j771bbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566496883281-5pjmqee825k3od2gofugoomp1j771bbi</string>
	<key>GCM_SENDER_ID</key>
	<string>566496883281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waywalk.ios.runkick-dev</string>
	<key>PROJECT_ID</key>
	<string>runkick-360a9</string>
	<key>STORAGE_BUCKET</key>
	<string>runkick-360a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:566496883281:ios:825444f56eb6af15</string>
	<key>DATABASE_URL</key>
	<string>https://runkick-360a9.firebaseio.com</string>
</dict>
</plist>
